
/*======================================
//--//-->   STYLES GENERALES
======================================*/

:root {
    --primary-color: #1ba1e9;
    --secondary-color: #cde1f8;
    --text-color: #4e4e4e;
    --dark-text-color: #1e1e1e;
    --light-background: #f5f5f5;
    --hover-color: #1B1B1B;
  }
  body {
    background-color: var(--light-background);
    color: var(--text-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-text-color);
  }
  
  a {
    color: var(--dark-text-color);
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  
  
  .box-shadow,
  .paralax-mf,
  .service-box,
  .work-box,
  .card-blog {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  
  .bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  
  .overlay-mf {
    background-color: #0078ff;
  }
  
  .overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
  }
  
  .paralax-mf {
    position: relative;
    padding: 8rem 0;
  }
  
  .display-table {
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  
  
  /*------/ Box /------*/
  
  .box-pl2 {
    padding-left: 2rem;
  }
  
  .box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  /*------/ Socials /------*/
  
  .socials {
    padding: 1.5rem 0;
  }
  
  .socials ul li {
    display: inline-block;
  }
  
  .socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
  }
  
  .socials .ico-circle:hover {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
  }
  
  /*------/ Ul resect /------*/
  
  .ul-resect,
  .socials ul,
  .list-ico,
  .blog-wrapper .post-meta ul,
  .box-comments .list-comments,
  .widget-sidebar .list-sidebar,
  .widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .list-ico {
    line-height: 2;
  }
  
  .list-ico span {
    color: #0078ff;
    margin-right: 10px;
  }
  
  /*------/ Ico Circle /------*/
  
  .ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #e2e4e7;
    display: block;
  }
  
  /*------/ Owl Carousel /------*/
  
  .owl-theme .owl-dots {
    text-align: center;
    margin-top: 18px;
  }
  
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 7px;
    margin: 5px 5px;
    background: #cde1f8;
    border: 0px solid #cde1f8;
    display: block;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
  }
  
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #cde1f8;
  }
  
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: #1B1B1B;
    width: 25px;
  }
  
  /*--/ Scrolltop s /--*/
  
  .scrolltop-mf {
    position: relative;
    display: none;
  }
  
  .scrolltop-mf span {
    z-index: 999;
    position: fixed;
    width: 42px;
    height: 42px;
    background-color: #0078ff;
    opacity: .7;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: #0078ff;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  /* Prelaoder */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #0078ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /*======================================
  //--//-->   NAVBAR
  ======================================*/
  
  .navbar-b {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
  }
  
  .navbar-b.navbar-reduce {
    background-color: rgba(255, 255, 255, 0.9); /* Color blanco semi-transparente */
    padding-top: 1rem; /* Consistencia en el padding */
    padding-bottom: 1rem;
  }
  
  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
  }
  
  .navbar-b.navbar-trans .nav-link,
  .navbar-b.navbar-reduce .nav-link {
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
  }
  
  .navbar-b.navbar-trans .nav-link:hover,
  .navbar-b.navbar-reduce .nav-link:hover {
    color: #1B1B1B;
  }
  
  .navbar-b.navbar-trans .nav-link:hover:before,
  .navbar-b.navbar-reduce .nav-link:hover:before {
    width: 55px;
  }
  
  .navbar-b.navbar-trans .show > .nav-link:before,
  .navbar-b.navbar-trans .active > .nav-link:before,
  .navbar-b.navbar-trans .nav-link.show:before,
  .navbar-b.navbar-trans .nav-link.active:before,
  .navbar-b.navbar-reduce .show > .nav-link:before,
  .navbar-b.navbar-reduce .active > .nav-link:before,
  .navbar-b.navbar-reduce .nav-link.show:before,
  .navbar-b.navbar-reduce .nav-link.active:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
    background-color: #ffffff;
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: #ffffff;
  }
  
  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
    color: #e7630b;
  }
  
  .navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .navbar-b.navbar-reduce .nav-link { /* color de las letras del nabvar */
    color: #5f5959d9;
  }
  
  .navbar-b.navbar-reduce .nav-link:before { /* cambia la linea del nabvar */
    background-color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .nav-link:hover { /* cambia el color cuando lo selecionamos */
    color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .show > .nav-link,
  .navbar-b.navbar-reduce .active > .nav-link,
  .navbar-b.navbar-reduce .nav-link.show,
  .navbar-b.navbar-reduce .nav-link.active {
    color: #0078ff;
  }
  
  .navbar-b.navbar-reduce .navbar-brand {
    color: #5f5959d9;
  }
  
  .navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #1B1B1B;
  }
  
  .navbar-b .navbar-brand {
    color: #e7630b;
    font-size: 2.0rem;
    font-weight: 600;
  }
  
  .navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
  .navbar-b .dropdown.show .dropdown-menu,
  .navbar-b .dropdown-btn.show .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
  }
  
  .navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
  }
  
  .navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #0078ff;
    color: #fff;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #0078ff;
  }
  
  /*--/ Hamburger Navbar /--*/
  
  .navbar-toggler {
    position: relative;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
  }
  
  /*======================================
  //--//-->   INICIO
  ======================================*/
  
  .intro {
    height: 100vh;
    position: relative;
    color: black;
  }
  
  .intro .intro-content {
    text-align: center;
    position: absolute;
  }
  
  .intro .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .2;
    
  }
  
  .intro .intro-title {
    color: #e7630b;
    border:6px groove #000;
    font-weight: 600;
    font-size: 4rem;
    text-shadow: -5px -5px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .intro .intro-subtitle {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 
    -4px -1px 0 #e7630b;
   
  }
  
  .intro .text-slider-items {
    display: none;
  }
  
  .intro-single {
    height: 350px;
  }
  
  .intro-single .intro-content {
    margin-top: 30px;
  }
  
  .intro-single .intro-title {
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .intro-single .breadcrumb {
    background-color: transparent;
    color: #0078ff;
  }
  
  .intro-single .breadcrumb .breadcrumb-item:before {
    color: #cde1f8;
  }
  
  .intro-single .breadcrumb .breadcrumb-item.active {
    color: #cde1f8;
  }
  
  .intro-single .breadcrumb a {
    color: #fff;
  }
  
  /*======================================
  //--//-->   SOBRE MI
  ======================================*/
  
  .about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: .7rem;
    background-color: #0078ff;
  }
  
  
    /*======================================
  //--//-->  hisotria  SOBRE MI
  ======================================*/
  


.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: #e7630b;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  display: flex;
  justify-content: center; /* Centra todas las columnas */
  gap: 20px; /* Espacio entre columnas */
  margin: 10px 0;
}

.badge-item {
  display: flex;
  flex-direction: column; /* Alinea texto e imagen en columna */
  align-items: center; /* Centra el texto y la imagen dentro de cada columna */
}

.badge {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px; /* Espacio entre el texto y la imagen */
}

.badge-img {
  width: 50px; /* Tamaño de la imagen */
}

.icono-deportista {
  font-size: 3.5rem; /* Ajusta el tamaño del ícono a 2.5rem (igual al tamaño de tu laptop) */
}


/*======================================
//--//-->   ESTADISTICA
======================================*/

.counter-box {
  color: #fff;
  text-align: center;
}

.counter-ico {
  margin-bottom: 1rem;
}

.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.8;
  box-shadow: 0 0 0 10px #e7630b;
}

.counter-num .counter {
  font-size: 2rem;
  margin-bottom: 0;
}